!!!
%html
  %head
    %title ProLogic - разработка веб систем для автоматизации базнеса
    = stylesheet_link_tag  'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: 'Разработка веб сайтов различной сложности. Сайты с высокой нагрузкой. API и соцсети интеграции и тестирование. Анализ производительности существущих проектов.'}
  %body
    #home.head-section
      %nav.navbar.navbar-default.box-shadow{role: 'navigation'}
        .container
          %span.navbar-brand PRO
          %span.navbar-brand.normal Logic
          %ul.nav.navbar-nav.pull-right
            %li <a href="#home">Начало</a>
            %li <a href="#services">Возможности</a>
            %li <a href="#howitworks">Процесс</a>
            %li.dropdown
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Сервисы <b class="caret"></b></a>
              %ul.dropdown-menu
                %li <a href="http://helperchat.com">HelperChat</a>

            %li <a href="#projects">Работы</a>
            %li <a href="#contacts">Контакты</a>

    = yield
    %footer
      .container
        .row
          .col-sm-6.col-sm-offset-3
            %ul.nav.navbar-nav{style: 'margin-left: 50px'}
              %li <a href="#home">Вверх</a>
              %li <a href="#services">Возможности</a>
              %li <a href="#howitworks">Процесс</a>
              %li <a href="#projects">Работы</a>
              %li <a href="#contacts">Контакты</a>

        .row
          .col-sm-6.col-sm-offset-3.text-center
            %address
            %div
              %strong Мы находимся в Одессе:
              ул. Михайловская 25
            %div
              %abbr{title: 'Телефон'} Телефон:
              (093) 50 70 663
              |
              %strong Скайп:
              = link_to('voloshin_ruslan', 'skype:voloshin_ruslan?call')
        %br/
        .row
          .col-sm-12.text-center
            © 2010-2014
        = render partial: 'layouts/google_analytix'